<% provide(:title, 'Home') %>
<div class="center jumbotron">
  <h1>Welcome to TicketPanda</h1>

  <h2>
    This is the home page for this application.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>