<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

	<div><%= f.label :username %><br />
	<%= f.text_field :username, :autofocus => true, :placeholder => "Username" %></div>
	<div><%= f.label :email %><br />
	<%= f.email_field :email, :placeholder => "Email" %></div>

	<div><%= f.label :password %><br />
	<%= f.password_field :password, :placeholder => "Password" %></div>

	<div><%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation, :placeholder => "Confirm your password" %></div>

	<div><%= f.submit "Sign up", class: "btn btn-lg btn-primary", id: "formSignUp" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
