       <tr>
        <td><%= link_to event.title, event %></td>
        <td><%= event.from_time %></td>
        <td><%= event.to_time %></td>
        <td><%= link_to event.user.username, event.user %></td>
        <!-- <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>