<h1>All events</h1>
<!-- <br> -->

<%#= link_to 'New Event', new_event_path %>

<%= will_paginate %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>From time</th>
      <th>To time</th>
      <th>User</th>
    </tr>
  </thead>
<tbody>
    <%= render @events %>
  </tbody>

</table>


