<header class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "TicketPanda", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <li ><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>
          
          <% if user_signed_in? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user.username), :class => 'navbar-link' %></li>
              <li><%= link_to "Settings", edit_user_registration_path, :class => 'navbar-link' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
              </li>
            </ul>
          </li>
          
          <% elsif admin_signed_in? %>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_admin_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Settings", '#', :class => 'navbar-link' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: 'navbar-link' %>
              </li>
            </ul>
          </li>
          <% else %>
          <li>
            <button type="button" class="btn btn-default navbar-btn">
              <%= link_to "Sign in", new_user_session_path %>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-default navbar-btn">
              <%= link_to "Sign up", new_user_registration_path, id: "headerSignup" %>
            </button>
          </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>